/*
Brown Rust
#9E5635

Cedar
#422316

Sandy brown
#EF915B

Redwood
#5D2410*/

:root {
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-background: #2b2421;
  --color-background2: #201e1d;
  --color-accent: #EF915B;
  --color-notice: #5D2410;
  --color-brand: #9E5635;
  --color-foreground: #ede8e6;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  overflow-x: hidden !important;
  position: 'relative';
  color: var(--color-foreground);
  background-color: var(--color-background);
  font-size: '16px';
}

h1,p {
  margin:0
}