/*
Brown Rust
#9E5635

Cedar
#422316

Sandy brown
#EF915B

Redwood
#be8961*/

:root {
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-background: #9e2e16;
  --color-background2: #732817;
  --color-background-btn: #f3f3f3;
  --color-accent: #ef915b;
  --color-notice: #be8961;
  --color-brand: #9e5635;
  --color-foreground: #ffffff;
  --color-secondary: #080830;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding-top: 1em;
  min-height: 100vh;
  width: 100%;
  font-family: 'Exo2';
  letter-spacing: -0.05em;
  text-align: center;
  overflow-x: hidden !important;
  position: 'relative';
  color: var(--color-foreground);
  background-color: var(--color-background);
  font-size: '16px';
}

h1,
p {
  margin: 0;
}

* {

  font-family: 'Exo2' !important;
  letter-spacing: -0.05em !important;
}
